/********************
 * 変数定義
********************/
// Background color
$icon_bg_color: #56D0D2;

// Font color
$bg_font-color: #FFFFFF;
$bg_border-color: #D6D5D9;
$highlight-color: #3CCBCD;

// Font size
$searchBox_size: 14px;
$header_list_size: 14px;
                
// Font family
@font-face {
  font-family: "Furima";
  src: asset_url("NotoSansJP-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/********************
 * FURIMAのデフォルト設定
********************/
a {
  text-decoration: none;
  color: #333333;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 26px;
}

p {
  font-size: 18px;
}

body {
  font-family: 'Furima';
}

strong {
  color: $highlight-color;
}